/* Zone principale */
.main-content {
    margin-left: 220px;
    padding: 30px;
}

/* Barre de recherche */
.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-search {
    padding: 10px 18px;
    background-color: #b3a18e;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* Titre */
.section-title {
    background-color: #4e5d5b;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* Formulaire */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.form-container input {
    width: 320px;
    padding: 14px;
    border-radius: 6px;
    border: none;
    background-color: #d7cfc8;
    text-align: center;
    font-size: 14px;
}

.btn-save {
    width: 350px;
    padding: 14px;
    background-color: #4e5d5b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-save:hover {
    background-color: #3f4c4a;
}
