.content{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.photo_droite{
    margin-left: 1350px;
}


.box-info{
    background-color: rgb(255, 255, 255);
}

.box-info img{
    margin: 20px 10px 10px 600px;
}

body {
    margin: 40px;
    color: #000;
}

.container {
    max-width: 900px;
}

.top {
    display: flex;
    align-items: flex-start;
}

.left-info p {
    margin: 4px 0;
    font-size: 14px;
}

.left-info .label {
    font-weight: bold;
}

.stock {
    text-align: right;
}

.stock .label {
    font-size: 14px;
    font-weight: bold;
}

.stock .quantity {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 750px;
}

.color-box {
    width: 30px;
    height: 30px;
    background: #e31717;
    margin-top: 8px;
}

.section-title {
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
}

.location {
    margin-top: 10px;
    font-size: 14px;
}

.location ul {
    padding-left: 20px;
    margin: 8px 0;
}

.location li {
    margin-bottom: 6px;
}