/* Zone principale */
.main {
    margin-left: 220px;
    padding: 30px;
}

/* Barre du haut */
.topbar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.search-box {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.search-icon {
    margin-right: 10px;
}

.search-btn {
    padding: 12px 25px;
    background-color: #b3a18e;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* Bandeau */
.add-kit-header {
    background-color: #4e5d5b;
    color: white;
    padding: 16px 25px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* Formulaire */
.kit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.kit-container input {
    width: 300px;
    padding: 14px;
    border-radius: 6px;
    border: none;
    background-color: #d7cfc8;
    text-align: center;
    font-size: 14px;
}

.save-btn {
    width: 330px;
    padding: 14px;
    background-color: #4e5d5b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.save-btn:hover {
    background-color: #3f4c4a;
}
        .sidebar a.active {
            background-color: #8b9a84;
        }