body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #5b6e6b;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar .block {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.sidebar img {
    width: 200px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
}

.sidebar a:hover {
    background-color: #b3a18e;
}

.content{
    margin-left: 250px;
    margin-right: 300px;

}

.content input{
    width: 100vh;
}


.sidebar h3{
    color: rgb(255, 255, 255);
    padding-left: 70px;
}