.box {
    margin-left: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: #4e5d5b;
    color: white;
    width: 520px;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 28px;
}

form {
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    padding: 22px;
    border-radius: 10px;
    border: none;
    background-color: #d7cfc8;
    font-size: 18px;
}

button {
    padding: 22px;
    background-color: #d7cfc8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    background-color: #b3a18e;
}
