.box_kits{
    height:  100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 5px;

}

.content input{
    width: 1300px; 
    height: 40px; 
    border-radius: 10px;
    margin-bottom: 30px;
}

.box_info_kits{
    background-color: #D7CFC8;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px 10px 10px 10px;
    border: solid, 2px, rgb(0, 0, 0);
}

.box_info_kits img{
    height: 70%;
    width: 94.5%;
    padding: 10px 10px 10px 10px;
}

.content button{
    justify-content: center;
    margin-left: 20px;
    margin-top: 15px;
    background: #e4cb3d;
    color: white;
    border: green;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    padding-top: 10px;
    height: 40px;
    color: black;
}

.content button:hover{
    background-color: #c4ab1f;

}

.box_info_kits:hover{
    background-color: #B3A18E;
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 390px;
    margin: 10px 10px;
    border: solid, 3px, rgb(0, 0, 0);

}

.box_info_kits label{
    padding-left: 10px;
}