body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.sidebar {
    height: 100vh;       
    width: 250px;           
    background-color: #111827; 
    color: white;
    position: fixed;       
    top: 0;
    left: 0px;
    padding-top: 20px;
    gap: 20px;
}


.sidebar a {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 12px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ffd700;
}

  
.content {
    margin-left: 300px; 
    padding-right: 30px;
}


.gestion{
    margin-right: 20px;
    height: 30px;
    gap: 20px;
}


.block{
    display: flex;
    flex-direction: row;
    color: white;
    height: 100px;
    width: 200px;
    padding: 10px;
    align-items: center;
}


.block img{
    height: 75px;
    width: 75px;
    margin-right: 7px;
    margin-bottom: 10px;
}

.block h5{
    margin-bottom: 50px;
}