.box {
    width: 500px;              
    margin: 50px auto;         
    padding: 20px;             
    border: 1px solid #ccc;    
    border-radius: 10px;       
    background: #f9f9f9;       
}

.box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box input {
    margin-bottom: 10px;       
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.box a button {
    padding: 10px;
    margin-top: 15px;
    background: #e4cb3d;
    color: white;
    border: green;
    border-radius: 5px;
    cursor: pointer;
    width: 320px;
    padding-top: 10px;
    height: 40px;
    
}

.box input{
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.box button:hover {
    background: #ffd700;
}

.box_top{
    background-color: #111827; 
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-text-fill-color: white;
}
.box_top img{
    height: 65px;
    width: 65px;
    padding:10px 10px 10px 10px;
}

.box h2{
    padding-top: 30px;
    padding-bottom: 20px;
}

